/* Default settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
#container{
    width: 100%;
    height: 100vh;
    /* Flex */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img-block{
    width: 700px;
    height: 300px;
}

.immage{
    width: 100%;
    height: 100%;
    display: none;
}

.immage.active{
    display: block;
}

.immage img{
    width: 100%;
    height: 100%;
}